
header {
   color: blue;
}


header,
main
 {
    margin: 0 auto;
    max-width: 750px;
}

nav {
    margin-left: 0.5em;
    position: relative;
    width: 25%;
    background: #7adbff;
    display: flex;
    flex-flow: column;
    justify-content: left;
}


footer {
  color: blue;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
        
}


.grid-container * { 
 border: 1px solid blue;
 position: relative;
   grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . . ." ". . . ." ". . . .";
}


.container {
  min-height: 400px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item {
  flex: 0 0 auto;
  margin: 5px;
}


