<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> A List of Review Cars</title>
	 <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>


	<header>
		<h1> Cars available for Review</h1>
	
	</header>
					
		<div th:each="car: ${cars}">
			<h4>
				<a th:href="@{/show-car-manufacturer(id=${car.id})}" th:text="${car.name}"></a>
			</h4>
		
		</div>
		
		
		<div class="grid-container"> <a href="/show-cars">Home Page</a>  </div>
		
	
				
	<footer>
		<small>&copy Auto Consumer Review </small>
	</footer>
  </body>   
</html>





